services:
  mongo:
    image: mongo:7
    container_name: zomato-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "4000:4000"
    depends_on:
      - user-service
      - restaurant-service
      - order-service
    environment:
      - PORT=4000

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "4001:4001"
    depends_on:
      - mongo
    environment:
      - PORT=4001
      - MONGO_URI=mongodb://mongo:27017/user-db
      - JWT_SECRET=mysecret

  restaurant-service:
    build: ./restaurant-service
    container_name: restaurant-service
    ports:
      - "4002:4002"
    depends_on:
      - mongo
    environment:
      - PORT=4002
      - MONGO_URI=mongodb://mongo:27017/restaurant-db

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "4003:4003"
    depends_on:
      - mongo
      - restaurant-service
    environment:
      - PORT=4003
      - MONGO_URI=mongodb://mongo:27017/order-db
      - RESTAURANT_SERVICE_URL=http://restaurant-service:4002

volumes:
  mongo-data:
